@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap');
body {
    font-family: 'Noto Sans JP', sans-serif;
    padding-top: 70px
}
.accordion {
  margin: 2em 0;
}
.accordion__summary {
  display: block;
  background: #b2e5ff; /* 見出しの背景色 */
  font-weight: bold;
  position: relative;
  list-style: none; /* 矢印を消す */
  cursor: pointer;
  padding: 10px 38px 10px 10px;
}
.accordion__summary::-webkit-details-marker {
  display: none;
}
.accordion__summary::after {
  content: "+";
  font-size: 1.4em; /* 記号のサイズ */
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
}
.accordionアコーディオンにtitleを入力してください .accordion__summary::after {
  content: "−";
}
.accordion__detail {
  padding: 4px 10px;
  margin: 10px 0;
}
.accordion__text {
  margin: 0;
}
.menu-icon {
    font-size: 1.25rem
}

.current {
    opacity: 0.8;
    color: white
}

.popup {
    padding-top: 10px;
    padding-bottom: 20px;
    padding-left: 20px;
    background-color: #fff;
    -webkit-border-radius: 6px 6px 6px 6px;
    -moz-border-radius: 6px 6px 6px 6px;
    border-radius: 6px 6px 6px 6px;
    -webkit-box-shadow: 1px 5px 2px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 1px 5px 2px rgba(0, 0, 0, 0.15);
    box-shadow: 1px 5px 2px rgba(0, 0, 0, 0.15)
}

.box {
    background-color: #FDFDFD;
    padding-top: 10px;
    padding-left: 10px;
    -webkit-border-radius: 6px 6px 6px 6px;
    -moz-border-radius: 6px 6px 6px 6px;
    border-radius: 6px 6px 6px 6px;
    -webkit-box-shadow: inset 0 0px 5px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: inset 0 0px 5px rgba(0, 0, 0, 0.15);
    box-shadow: inset 0 0px 5px rgba(0, 0, 0, 0.15)
}

img {
    margin-bottom: 24px;
    margin-top: 17px;
    border-radius: 2%;
    max-width: 100%
}

#newsid p {
    text-align: left
}

#homeidtmp h1 {
    text-align: center
}

#newsid img {
    margin-top: 6px;
    margin-bottom: 6px
}

#gridid img {
    margin: 16px 22px 6px 0;
    border-radius: 10%;
    box-shadow: 2px 2px 5px #888
}

#homeid img {
    margin: 0 0 0 0;
    border-radius: 5%;
    box-shadow: 0px 0px 0px #888
}

#picid img {
    margin: 6px 3px 60px 6px;
    border-radius: 1%;
    box-shadow: 2px 2px 5px #888
}

#gridid .row {
    margin-bottom: 24px
}

.col-sm-1,
.col-sm-2,
.col-sm-3,
.col-sm-5,
.col-sm-6,
.col-sm-7,
.col-sm-8,
.col-sm-9,
.col-sm-10,
.col-sm-11,
.col-sm-12 {
    padding-left: 16px;
    padding-right: 16px
}

.col-sm-4 {
    padding-left: 26px;
    padding-right: 26px
}

.carousel {
    border-radius: 3px 3px 3px 3px;
    margin-bottom: 20px;
    margin-top: 20px;
    margin-left: 30px;
    margin-right: 30px
}
